 <footer class="page-footer blue-grey darken-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Rotten Potatoes</h5>
                <p class="grey-text text-lighten-4">Rating movies one potato at a time.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container-fluid">
            © 2018 Rotten Potatoes
            </div>
          </div>
        </footer>
        <script src="public/js/initialize.js"</script>
    </body>
</html>